@layer reset, base;

@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    img, picture, video, canvas, svg {
        display: block; max-width: 100%
    }
    input, button, textarea, select {
        font: inherit; color: inherit;
    }
    html:focus-within {
        scroll-behavior: smooth;
    }
    :root {
        color-scheme: light dark;
    }
}

@layer base {
    :root {
        --bg: #ffcc99;
        --ink: #000000;
    }
}

html, body {
    height: 100%;
}
body {
    background: var(--bg);
    color: var(--ink);
    font-family:
        ui-monospace,
        SFMono-Regular, Menlo, Monaco, /* Mac */
        'Cascadia Code', 'Cascadia Mono', Consolas, /* Windows */
        'Ubuntu Mono', 'DejaVu Sans Mono', 'Liberation Mono', 'Noto Sans Mono', /* Linux */
        monospace;
    -webkit-font-smoothing: antialiased;
}
